.audio-menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #F5F5F5;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #D1BDFB;
  border-radius: 10px;
  padding: 0.5rem;

  img {
    height: 60px;
  }
}

.audios-menu {
  position: absolute;
  bottom: 100px;
  right: 0;
  background: #F5F5F5;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #D1BDFB;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  padding-top: 1.3rem;
  padding-right: 1.3rem;

  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }

  .audios {
    display: flex;
    justify-content: center;
  }

  &::after, &::before {
    top: 100%;
    left: 75%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  &::after {
    border-color: rgba(245, 245, 245, 0);
    border-top-color: #F5F5F5;
    border-width: 20px;
    margin-left: -20px;
  }

  &::before {
    border-color: rgba(209, 189, 251, 0);
    border-top-color: #D1BDFB;
    border-width: 21px;
    margin-left: -21px;
  }

  .audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    &:first-child {
      margin-left: 0;
    }
    .material-icons {
      font-size: 1.5em;
    }
  }

  img {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
  }

  p {
    font-size: .8em;
    color: darken(#D8C9F9, 5) !important;
    margin-bottom: 0;
  }
}

.btn-play, .mat-button {
  background: darken(#D8C9F9, 5) !important;
  box-shadow: 0px 2px 2px #00000029;
  border: none;
  width: fit-content;
  padding: 0.42rem 0.55rem;
  color: #fff;
  display: flex;
  align-items: center;
  
  &:hover {
    background: darken(#D8C9F9,15) !important;
  }
  .material-icons {
    font-size: 2.2em;
  }
}


.btn-mic {
  background: darken(#A4E9B4, 5) !important;
  box-shadow: 0px 2px 2px #00000029;
  border: none;
  width: fit-content;
  padding: 0.42rem 0.55rem;
  color: #fff;
  display: flex;
  align-items: center;
  
  &:hover {
    background: darken(#A4E9B4,15) !important;
  }
  .material-icons {
    font-size: 2.2em;
  }
}