.next-button {
  right: 10px;
}

.next-button, .previous-button {
  position: absolute;
  top: calc(50vh - 100px);
  cursor: pointer;
  &::selection {
    background: none !important;
  }

  .material-icons {
    font-size: 150px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.57) !important;
    &::selection {
      background: none !important;
    }
  }
}

.previous-button {
  left: 10px;
}


.book-context {
  position: absolute;
  top: 70px;
  background: #ECF9DC;
  z-index: 1;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;

  h2 {
    color: #24A37B;
    font-size: 1.5em;
    margin-bottom: 0;
  }

  p {
    letter-spacing: -0.09px;
    color: #5C6069;
    font-size: 1em;
    margin-bottom: 0;
  }

  .text {
    width: 400px;
  }

  .close {
    color: #a0b4a2;
    .material-icons {
      cursor: pointer;
      font-size: 1.5em;
    }
  }
}


@media only screen and (max-width: 500px) {
  .book-context {
    img {
      height: 40px;
    }
    .text {
      width: auto;
    }
  }
}