<div>
  <ngx-extended-pdf-viewer 
    [zoom]="zoom" 
    src="https://michellecolin.github.io/desafio-arvore-dos-livros/assets/books/{{book.pdf}}" 
    useBrowserLocale="true" 
    height="100vh"
    [showSidebarButton]="false"
    [showFindButton]="false"
    [showPagingButtons]="true"
    [showZoomButtons]="false"
    [showPresentationModeButton]="false"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showDownloadButton]="false"
    [showBookmarkButton]="false"
    [showSecondaryToolbarButton]="false"
    [showRotateButton]="false"
    [showHandToolButton]="false"
    [showScrollingButton]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false"
    (pagesLoaded)="onPagesLoaded($event)"
    (pageChange)="pageChanged($event)"
  ></ngx-extended-pdf-viewer>

  <div class="next-button" (click)="clickNext()">
    <span class="material-icons">
      keyboard_arrow_right
    </span>
  </div>

  <div class="previous-button" (click)="clickPrevious()">
    <span class="material-icons">
      keyboard_arrow_left
    </span>
  </div>

  <div class="ml-1 book-context d-flex" (click)="hideContext = true" *ngIf="this.book?.audios?.teatcher?.context && !hideContext && firstPage">
    <div class="image pb-2"><img src="./assets/img/monkey-search.png"/></div>
    <div class="text p-4">
      <h2>Seu professor deixou um áudio sobre esse livro.</h2>
      <p class="mt-1">Para ouvir a gravação clique no botão de play no canto direito da tela.</p>
    </div>
    <div class="close pt-2 pr-2">
      <span class="material-icons" (click)="hideContext = true">
        close
      </span>
    </div>
  </div>

  <div class="ml-1 book-context d-flex" (click)="hideQuestion = true" *ngIf="this.book?.audios?.teatcher?.question && !hideQuestion && isLastPage">
    <div class="image pb-2"><img src="./assets/img/monkey-search.png"/></div>
    <div class="text p-4">
      <h2>Seu professor deixou uma pergunta sobre esse livro.</h2>
      <p class="mt-1">Para ouvir a pergunta clique no botão de play no canto direito da tela.</p>
    </div>
    <div class="close pt-2 pr-2">
      <span class="material-icons" (click)="hideQuestion = true">
        close
      </span>
    </div>
  </div>

  <app-recordings *ngIf="this.book?.audios?.teatcher?.context && firstPage" 
    [type]="'context'"
    [audio]="this.book.audios.teatcher.context" 
    monkey="Clique no botão ao lado para ouvir o áudio do seu professor" tooltip="Clique para ouvir o áudio do seu professor"></app-recordings>

  <app-recordings *ngIf="this.book?.audios?.teatcher?.question && isLastPage" 
    [type]="'context'"
    [audio]="this.book.audios.teatcher.question" 
    monkey="Clique no botão ao lado para ouvir a pergunta do seu professor" tooltip="Clique para ouvir a pergunta do seu professor"></app-recordings>

  <!--other pages-->
  <app-recordings *ngIf="this.book?.audios?.pages && !firstPage && !isLastPage" [audio]="this.book.audios.pages" [page]="page"
    [type]="'pages'"></app-recordings>

</div>
