<div>
  <ngx-extended-pdf-viewer 
    zoom="page-fit" 
    src="/assets/books/{{book.pdf}}" 
    useBrowserLocale="true" 
    height="100vh"
    [showSidebarButton]="false"
    [showFindButton]="false"
    [showPagingButtons]="true"
    [showZoomButtons]="false"
    [showPresentationModeButton]="false"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showDownloadButton]="false"
    [showBookmarkButton]="false"
    [showSecondaryToolbarButton]="false"
    [showRotateButton]="false"
    [showHandToolButton]="false"
    [showScrollingButton]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false"
  ></ngx-extended-pdf-viewer>

  <div class="next-button" (click)="clickNext()">
    <span class="material-icons">
      keyboard_arrow_right
    </span>
  </div>

  <div class="previous-button" (click)="clickPrevious()">
    <span class="material-icons">
      keyboard_arrow_left
    </span>
  </div>
</div>
